/* Global Styles */
a {
  text-decoration: none !important;
}

.showcase {
  background: url("../images/showcase.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.counterSection {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header {
  background-color: unset !important;
  border-bottom: none !important;
}
